<script type="text/javascript">
  window.images = {
    magnifyingGlass: "<%= image_path("magnifying-glass.png") %>",
    map: "<%= image_path("map.png") %>",
    starBlue: "<%= image_path("star-blue.png") %>",
    starGray: "<%= image_path("star-gray.png") %>",
    logo: "<%= image_path("teachable-logo.png") %>"
  }
</script>
<main id='root'></main>
